
<script>
var date = new Date();
var options = {
    weekday:"long",
    day: "numeric",
    month: "long",
    year: "numeric"
   };
 var day = date.toLocaleDateString("en", options);
 </script>


</body>
<div class="footer-padding">
  <div class="footer">
    <a href="http://www.linkedin.com/in/isaac-kingsley-55ab9b223."><i class="social-icon fa-brands fa-linkedin fa-2x "></i></a>
   <a href="https://ne-np.facebook.com/progress.eze.583/"> <i class="social-icon fa-brands fa-facebook fa-2x"></i></a>
   <i class="social-icon fa-brands fa-twitter fa-2x" ></i>
    <i class="social-icon fa-solid fa-envelope fa-2x"></i>
    <div class="">
  © Copyright <script type="text/javascript">document.write(day);</script>  kingsley Info. All Right Reserved
    </div>

  </div>
</div>

 <script src="script.js" charset="utf-8"></script>

</body>
</html>
