<%-include("partials/header"); -%>
<div class="">
  <div class="contact-para">
    <div class="">
      <h1 class="contact-para">please contact me wherever these skills are needed, I am ready to discharge
        my duty efficient and effectively, as well as make your organization come back to live with relevant functionalities.
        </h1>
    </div>
  </div>
  <div class="container-1">
    <p class="dav"><u>Database Management</u></p>
    <p class="dav">Ability to Manipulate SQL and NoSQL Command in the following:</p>
    <li class="dav-left">MongoDB</li>
    <li class="dav-left">Oracle Database</li>

  </div>
  <div class="container-2">
    <p><u>Back-end Development</u></p>
    <p class="dav-flow">Ability to Manipulate client and sever-side using:</p>
    <li class="dav-left" >Node.js</li>
    <li class="dav-left">Express</li>
    <li class="dav-left">Mongoose Model etc.</li>
  </div>
  <div class="container-3">
  <p><u>Front-end Development</u></p>
  <p>Ability to code through using:</p>
  <li class="dav-left">HTML</li>
  <li class="dav-left">CSS</li>
  <li class="dav-left">Bootstrap</li>
  <li class="dav-left">jQuery</li>
  <li class="dav-left">React.js</li>
  <li class="dav-left">javaScript</li>
  </div>
  <div class="container-4">
  <p><u>Networking </u></p>
  <p>Ability to:</p>
  <li class="dav-left">sub-net IP Address</li>
  <li class="dav-left">Router configuration</li>
  <li class="dav-left">Computer Troubleshooting etc </li>
  </div>
  <div class="container-5">
  <p>Microsoft Office</p>
  <p>proficient with the following packages</p>
  <li class="dav-left">Ms Word</li>
  <li class="dav-left">Ms Excel</li>
  <li class="dav-left">Powerpoint Presentation etc.</li>
  </div>

  <div class="">
    <img  class="locate-me"src="image/location.png" alt="location.png">
    <em class="Address-get">Rumuodara, PortHarcourt, River State, Nigeria</em>
  </div>
  <div class="">
    <img src="image/us-here.jpg" alt="us-here.jpg">
  </div>

</div>
<section class="correct">
  <div class="row">
    <div class="correct-what col-lg-2">
      <img  class="phonet"src="image/phone.png" alt="phone.png">
      <h3 class="progress-one">Mobile number</ h3>
        <li>07047933928</li>
    </div>

    <div class=" col-lg-2">
      <img  class="progress-hee"src="image/wants-A.png" alt="wants-A.png">
      <h3 class="progress-two">WhatsApp only</ h3>
        <li>09058459281</li>
    </div>
    <div class="likedin col-lg-2">
      <img src="image/din.png" alt="din.png">
      <h3 class="progress-four">Linkedin page</h3>
      <li>http://www.linkedin.com/in/isaac-kingsley-55ab9b223.</li>
    </div>
    <div class=" col-lg-2">
      <img class="fans-face" src="image/facebook-A.png" alt="facebook-A.png">
      <h3 class="progress-three">facebook Account</ h3>
        <li>progress Eze</li>
    </div>
    <div class=" col-lg-2">
      <img class="mailing" src="image/gmail.png" alt="gmail.png">
      <h3 class="progress-five">Gmail Address</ h3>
        <li>kingsleyco420@gmail.com</li>
    </div>

    <div class=" col-lg-2">
      <img class="handler"src="image/blue-twitter.png" alt="blue-twitter.png">
      <h3 class="progress-six">Twitter handle</ h3>
        <li>@IsaacKings15</li>
    </div>


  </div>

</section>































<%-include("partials/footer");-%>
