<%-include("partials/header"); -%>
<h1>Hmm!! 😨 </h1>
<p class="success"> There was a problem processing your request, Please insert email or password correctly and try  again or contact the developer</p>
<form  action="/failure" method="post">
<button class="btn btn-lg btn-warning"type="Submit" name="button">Try again</button>

</form>
