
<%-include("partials/header"); -%>
  <div class="alert alert-success alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<strong>Thanks for visiting my website!</strong> I am ready for work and you can click to <a href="/contact" class="alert-link">contact me here</a.
</div>

<img src="image/kings-succeed.png" alt="image/kings-succeed.png">
<div class="fa-3x">
<i class=" next-color-two fa-solid fa-brands fa-node fa-flip fa-4x"></i>
<i class="next-color-three fa-solid fa-brands fa-js fa-flip fa-4x"></i>
<i class=" next-color-one fa-solid fa-brands fa-envira fa-flip fa-4x"></i>
<i class="next-color-one fa-brands fa-react fa-flip fa-4x" style="--fa-flip-x: 1; --fa-flip-y: 0;" ></i>
<i class="next-color fa-solid fa-database fa-9x fa-flip fa-4x" style="--fa-animation-duration: 3s;" ></i>
</div>
<%-include("partials/footer");-%>
<i class=""></i>
