<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fa-solid fa-unlock fa-9x"></i>
    <h1 class="display-3">Welcome to my weekly publication, you are free to ask questions as well as publish yours!</h1>
    <a class="secret-text" href="databasemanagementsystemdomainforyou"> Please Click Here to Read Publication</a>
  </div>
</div>

<%- include('partials/footer') %>
