<%-include("partials/header"); -%>
<h1 class="success">Awesome!!!</h1>
<p class="success"> you 've been  successfully signed up to my weekly publication on Database management</p>
<p>Note: This is completely free and fun, just a project</p>
<hr>
<div class=" logon jumbotron centered">
  <a  class=" logon btn btn-dark btn-lg"href="/login" role="button">Login here</a>
</div>
